<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
</head>
<body>
<button type="button" class="layui-btn" id="test1">
    <i class="layui-icon">&#xe67c;</i>上传压缩包
</button>

<script src="/layuiadmin/layui/layui.js"></script>
<script>
    layui.use('upload', function(){
        var upload = layui.upload;
        var url = "{:url('admin/UtilityFunction/compression')}";
        console.log(url)
        //执行实例
        var uploadInst = upload.render({
            elem: '#test1' //绑定元素
            ,url:  url//上传接口
            ,type: 'POST'
            ,accept: 'file'
            ,exts: 'zip|rar'
            ,done: function(res){
                //上传完毕回调
                console.log(123)
            }
            ,error: function(){
                //请求异常回调
                console.log(1233)
            }
        });
    });
</script>
</body>
</html>